h2{
    margin:10px;
}

.mb-3,#submitbtn{
    margin-left:5px;
}

.container{
    margin-top: 20px;
}

.col-6{
    margin-left:20px;
}

body{
    font-family: 'monospace';
    background: #222;
    color: rgb(233, 227, 227);
    background-image: url(https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: 0 -300px; 


}

.table {
    font-family: 'monospace';
    background: #222;
    color: rgb(233, 227, 227);
    background-image: url(https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-top:10px;
}

#formcontrol,#addbtn{
     margin-left:100px;
    margin-top: 10px}

.title{
text-align: center;
}